[submodule "server/ersatztv"]
	path = server/ersatztv
	url = https://github.com/ErsatzTV/legacy.git
[submodule "server/ffplayout"]
	path = server/ffplayout
	url = https://github.com/ffplayout/ffplayout.git
[submodule "third_party/media3-patched"]
	path = third_party/media3-patched
	url = https://github.com/anonfaded/media3-patched.git
